@import "../../style/colors";

html {
  scroll-behavior: smooth;
}

.globe {
  margin: 0;
  height: 100vh;
  width: 100vw;
  outline: none;
  position: absolute;
}

@mixin globePosition {
  position: absolute;
  transform-origin: 12vh 12vw;
  top:35vh;
  left:35%;
}

.icon-1 {
  position: absolute;
  top: 50px;
  left:70px;

}

.icon-2 {
  position: absolute;
  top: 60px;
  left:-25px;
}

.icon-3 {
  position: absolute;
  top: 80px;
  left:5px;
}

.icon-4 {
  position: absolute;
  top: 60px;
  left:-25px;
}

.icon-5 {
  position: absolute;
  top: 70px;
  left:35px;
}

.icon-6 {
  position: absolute;
  top: 70px;
  left:-5px;

}
@mixin Triangle {
  width: 0;
  height: 0;
  border-bottom: 45px solid transparent;
  border-left: 45px solid $spinner;

}

.globe-outer {
  background-color: $white-background-opacity-weak;
  height: 300px;
  width: 300px;
  border: 20px solid $spinner;
  border-radius: 50%;
  @include globePosition;
  @for $i from 0 through 6 {
    $x: -100;
    &.globe-outer-#{$i} {
      &::before {
        transform: rotate(#{$x+420*$i}deg);
      }
    }
  }
  &::before {
    content:'';
    position: absolute;
    left: 12px;
    top: 12px;
    transform-origin: 138px 138px;
    transition: transform 0.7s ease-in-out;
    @include Triangle
  }
}
