@import "../../style/colors";

@mixin burger {
  z-index: 100;
  width: 40px;
  height: 35px;
  border: 0;
  outline: none;
  border-top: 5px solid #ffffff;
  background: transparent;
  position: absolute;
  right: 40px;
  top: 25px;
  transition: 0.3s transform linear;
  cursor: crosshair;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #ffffff;
    z-index: 100;
  }
}

.main-list {
  position: relative;
  padding: 0;
  margin: 0;
}

.menu {
  margin: 0;
  padding: 12px;
  list-style: none;
  width: 120px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 75px;
  right: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-burger {
  @include burger;
  &::before {
    transform: translateY(10px);
  }
  &::after {
    transform: translateY(25px);
    transition: 0.3s transform linear;
  }
  &:hover {
    transform: scale(1.25);
  }
}

.main-burger-focus {
 @include burger;
  transform: rotate(45deg) translateY(5px);
  border: none;

  &::after {
    transition: 0.3s transform linear;
    transform: rotate(-90deg) ;
  }
  &::before {
    transition: 0.3s transform linear;
  }
}

.main-list-redirect {
  display: flex;
  font-size: 20px;
  box-sizing: border-box;
  color: $grey-text;
  width: 100%;
  border: 0;
  padding: 12px 3px 0 3px;

  &:hover {
    font-weight: bold;
    cursor: crosshair;
    width: 100%;
    color: $dominant-color;
  }
}