@import "../../style/colors";

.hideElement {
  visibility: hidden;
}

.project-container {
  position: relative;
}
.dubai {
  @include generalProjectBox;
  top: 30vh;
  left: 2vw;
  right: 69vw;
}

.house {
  @include generalProjectBox;
  top: 3vh;
  left: 25vw;
  right: 25vw;
}
.hostel {
  @include generalProjectBox;
  top: 45vh;
  right: 1vw;
  left: 70vw;
}
.bamboo {
  @include generalProjectBox;
  top: 9vh;
  right: 2vw;
  left: 65vw;
}
.castle {
  @include generalProjectBox;
  bottom: -98vh;
  left: 45vw;
  right: 2vw;
}
.factory {
  @include generalProjectBox;
  bottom: -98vh;
  left: 2vw;
  right: 45vw;
}
.dubai-bg {
  background-image: url("../../assets/images/Dubai-bg.jpg");
  @include bgProjects;
  background-position: center bottom;
}
.castle-bg {
  background-image: url("../../assets/images/Castle-bg.jpg");
  @include bgProjects;
  background-position: right;
}
.factory-bg {
  background-image: url("../../assets/images/Factory-bg.jpg");
  @include bgProjects;
  background-position: top;
}
.bamboo-bg {
  background-image: url("../../assets/images/Bamboo-bg.jpg");
  @include bgProjects;
}
.house-bg {
  background-image: url("../../assets/images/House-bg.jpg");
  @include bgProjects;
  background-position: center bottom;
}
.hostel-bg {
  background-image: url("../../assets/images/Hostel-bg.jpg");
  @include bgProjects;
  background-position: bottom;
}

.fadeOut {
  animation: fadeOut .4s forwards;
  display: block;
}
.fadeIn {
  animation: fadeIn .7s forwards;
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.6);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
};

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: scale(.6);
    filter: blur(2px);
  }
};
