@import "../../style/colors";

.project-container {
  position: relative;
}
.dubai {
  @include generalProjectBox;
  top: 30vh;
  left: 1vw;
}

.house {
  @include generalProjectBox;
  top: 5vh;
  left: 25vw;
}
.hostel {
  @include generalProjectBox;
  top: 40vh;
  right: 1vw;
}
.bamboo {
  @include generalProjectBox;
  top: 5vh;
  right: 10vw;
}
.castle {
  @include generalProjectBox;
  top: 70vh;
  left: 36vw;
}
.factory {
  @include generalProjectBox;
  top: 70vh;
  left: 15vw;
}
.dubai-bg {
  background-image: url("../../assets/images/Dubai.jpg");
  @include bgProjects;
}
.castle-bg {
  background-image: url("../../assets/images/Bamboo.jpg");
  @include bgProjects;
}
.factory-bg {
  background-image: url("../../assets/images/Factory.jpg");
  @include bgProjects;
}
.bamboo-bg {
  background-image: url("../../assets/images/Bamboo.jpg");
  @include bgProjects;
}
.house-bg {
  background-image: url("../../assets/images/House.jpg");
  @include bgProjects;
  background-position: bottom;
}
.hostel-bg {
  background-image: url("../../assets/images/hostel.png");
  @include bgProjects;
  background-position: bottom;
}

.fadeOut {
  animation: fadeOut .4s forwards;
  display: block;
}
.fadeIn {
  animation: fadeIn .7s forwards;
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.6);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
};

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: scale(.6);
    filter: blur(2px);
  }
};
